*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
    font-family: "Roboto", "Trebuchet MS", Arial, sans-serif;
    color: black;
  }

header{
display: flex;
align-items: center;
justify-content: center;
height: 50px;
padding: 30px;
box-shadow: 3px black;

}

#searchbar{
display:flex;
background-color: #EAEAEA;
align-content: center;
justify-content: center;
margin:auto;
padding:20px;
width: 100%;
box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 5px 0px inset;
    }
.left{
margin-right: 10px;
}
.recherche{
display:flex;
flex-direction:column;
padding-top: 0px;
padding-left: 0px;
align-content: center;
justify-content: center;
  }

.reservation {
background-color: #f2f7f8;
text-align: center;
padding: 15px;
  }

.bouton{
  margin-top: 5px;
  background-color: #9356DC;
  box-shadow: grey;
   
  color: white;
  align-content: center;
  margin: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  border-radius: 30px;
  width: 70%;
  height: 50px;
  box-shadow: 5px 8px 5px rgb(228, 231, 236);
}

#filters{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
box-shadow: 0 0 7px #c1c1c1 ;
width: 100%;
}

.filter{
display: flex;
margin-top: 30px;
background-color: #f2f7f8;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 0px;
border-radius: 15px;
width: 95%;
height: 30px;
box-shadow: 5px 8px 5px rgb(228, 231, 236);


align-items: center;
color: black;
}

.filter span{
 
  font-size: 16px;
  position: relative;
  left: 20px;
      }

.choix{
margin-left: 20px;
      }

i.fa-mobile-alt{
  margin-right: 5px;
  margin-left: 20px;
    }

i.fa-list{
  margin-right: 20px;
  margin-left: 20px;
}

i.fa-store{
  margin-right: 20px; 
  margin-left: 20px;
}


 a{
   text-decoration: none;
   color: black;
 }

.numero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #9356DC;
    color: white;
    border-radius: 50%;
    margin-left: -10px;
}

#restaurants{
  background-color: #f2f7f8 ;
}

.choix-menu{
  display: flex;
  flex-direction: column;
  height: 280px;
   box-sizing: border-box;
  border: 5px solid #fff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
    }

.choix-menu img{
width: 100%;
height: 180px;
object-fit: cover;
  }


.menu-description{
display: flex;
justify-content: space-between;
}

.description{
line-height: 1.8px;
}

.btn{
position: absolute;
background: #99E2D0;
padding: 8px;
margin: 0px;
right: 5px;
top: 5px;
border-radius: 3px;
}



footer {
    display: flex;
    margin-top: 50px;
    padding: 35px 50px 60px 50px;
    flex-wrap: wrap;
    background-color: #202224;
    color: white;
    }
  
footer li {
    list-style-type: none;
    margin: 5px;
    margin-left: 0;
    color: white; 
}

